.footer__copyright {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-style: normal;
    font-weight: 400;
    color: #545454;
    max-width: 318px;
    margin-bottom: 60px;
}

@media screen and (max-width:768px) {
    .footer__copyright {
        font-size: 0.875rem;
        line-height: 1.062rem;
        max-width: 282px;
        margin-bottom: 36px;
    }
}