.grid-elements__img {
    max-width: 282px;
  width: 100%;
  max-height: 282px;
  min-height: 282px;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}