.popup__submit {
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    border-color: #000000;
    border-radius: 2px;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    margin-bottom: 37px;
}

@media screen and (max-width: 768px) {
    .popup__submit {
        font-size: 0.875rem;
        line-height: 1.062rem;
        margin-bottom: 25px;
    }
}

.popup__submit:hover {
    opacity: 0.8;
}