.grid-elements__like {
    width: 20.76px;
    height: 18.13px;
    background-image: url("../../../images/like.svg");
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;
    transition: .4s ease;
    margin-bottom: 3px;
}

.grid-elements__like:hover {
    opacity: 0.6;
}

.grid-elements__like:focus {
    outline: none;
}